@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-size: 80px;
  letter-spacing: -10px;
  color: #333;
  background: #222;
}

span {
  font-size: 70px;
  opacity: 0.4;
}
